@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 94.1176%;
    --foreground: 0 0% 20%;
    --card: 0 0% 96.0784%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 96.0784%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 37.6471%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 87.8431%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 85.098%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 75.2941%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 81.5686%;
    --input: 0 0% 87.8431%;
    --ring: 0 0% 37.6471%;
    --chart-1: 0 0% 37.6471%;
    --chart-2: 180 17.9191% 33.9216%;
    --chart-3: 0 0% 56.4706%;
    --chart-4: 0 0% 65.8824%;
    --chart-5: 0 0% 75.2941%;
  }

  /* .dark:root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70.9% 59.4%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 300 0% 45%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}
